html {
    font-size: 62.5%; // 1rem is 10px
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: 'montserrat';
}

.flex-container{
    display: grid;
    align-content: center;
    justify-content: center;
}

.items {
    align-self: center;
}


body {

    overflow-x: hidden;
    font-weight: normal;
    background-color: grey;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -webkit-tap-highlight-color: transparent;
}

.app {
    margin-top: 2rem;
    display: grid;
    justify-items: center;
}

.searchBar {
    position: absolute;
    background: rgba(0,173,255,.54);
    border: 1px, solid #2A9FD8;
}

.RecentPosts {
    display: grid;
    text-align: center;
    align-content: center;
    justify-content: center;

}